<li class='deal'>
  <div id='image'>
    <a href='{{link}}' target='_blank'>
      <img src={{image_url}}/>
    </a>
  </div>
  <div id='info'>
    <a href='{{link}}' target='_blank'>
      <p id='title'> {{long_title}} </p>
    </a>
    <p> {{market_name}} </p>
    <p> {{savings}} </p>
  </div>
</li>