@import "./partials/general.css.scss";
@import "./partials/colors.css.scss";

.signup-float {
  @include floater(-10em);
}
.signup {
  @include horizontal-center;
  width: 14.5em;
  height: 20em;
}
li {
  list-style: none;
  list-style-image: none;
}

.integrate {
  background-color: $sky-blue;
  padding: .5em;
  border-radius: .25em;
  border-color: $coral;
  border-style: solid;
  border-width: 2px;
  color: $pale-yellow;
  float: right;
  &:hover{
    color: $green;
  }  
}

.integrate-message {
  background: url("noize.png") repeat top left, white;
  padding: 1em;
  color: $green;
}

